@media(max-width:768px){
    html{
        font-size: 50%;

    }
    .navbar{
        overflow: hidden;
    }
    .navbar1{
        margin-right: -13rem;
    }
    .guess{ 
        font-size: 2rem;
    }
    .colorDisplay{
        font-size: 2rem;
    }
    .count_class{
        font-size: 1.5rem;
        height: 2rem;
        margin-left: -20rem;
        
    }
    .rules{
        font-size: 2rem;
        margin-inline-start: 2rem;
        width: 14rem;
    }
    #resetButton{
        font-size: 2rem;
        margin-inline-start: 2rem;
        width: 14rem;
    }
    #resetCounter{
        font-size: 2rem;
        margin-inline-start: 2rem;
        width: 14rem;
    }
    #easyBtn{
        font-size: 2rem;
        width: 10rem;
    }
    #hardBtn{
        font-size: 2rem;
        width: 10rem;
    }
}

@media(max-width:768px) and (min-width:425px){
    html{
        font-size: 50%;

    }
    .navbar{
        overflow: hidden;
    }
    .navbar1{
        margin-right: -13rem;
    }
    .guess{ 
        font-size: 2rem;
    }
    .colorDisplay{
        font-size: 2rem;
    
    }
    .count_class{
        font-size: 1.5rem;  
        margin-block-end: 10px;
        margin-left: -145px;
    }
    .rules{
        font-size: 1rem;
        /* margin-inline-start: 2rem; */
        width: 10rem;
        padding: 0rem;
        height: 4rem;
    }
    #resetButton{
        font-size:1rem;
        margin-inline-start: 1rem;
        width: 10rem;
        padding: 0rem;
        height: 4rem;
    }
    #resetCounter{
        font-size: 1rem;
        margin-inline-start: 1rem;
        width: 10rem;
        height: 4rem;
    }
    #easyBtn{
        font-size: 1rem;
        width: 10rem;
        height: 4rem;
    }
    #hardBtn{
        font-size: 1rem;
        width: 10rem;
        height: 4rem;
    }
}

@media(max-width:425px) and (max-width:375px){

    html{
        font-size: 100%;

    }
    .navbar{
        overflow: hidden;
    }
    .navbar1{
        margin-right: -13rem;
    }
    .guess{ 
        font-size: 2rem;
    }
    .colorDisplay{
        font-size: 2rem;
    
    }
    .count_class{
        font-size: 1.5rem;  
        margin-block-end: 10px;
        margin-left: -145px;
    }
    .rules{
        font-size: 1rem;
        /* margin-inline-start: 2rem; */
        width: 10rem;
        padding: 0rem;
        height: 4rem;
    }
    #resetButton{
        font-size:1rem;
        margin-inline-start: 1rem;
        width: 10rem;
        padding: 0rem;
        height: 4rem;
    }
    #resetCounter{
        font-size: 1rem;
        margin-inline-start: 1rem;
        width: 10rem;
        height: 4rem;
    }
    #easyBtn{
        font-size: 1rem;
        width: 10rem;
        height: 4rem;
    }
    #hardBtn{
        font-size: 1rem;
        width: 10rem;
        height: 4rem;
    }
}